


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #722626;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: rgba(114, 38, 38, 0.7);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-family: 'Helvetica', 'Arial';
}

.container h2 {
  color: #722626;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  color: black;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=button] {
    width: 100%;
    margin-top: 0;
  }
}

.header {
text-align: center;
font-family: 'Helvetica', 'Arial';
color: #722626;
}
